
.migas-de-pan .breadcrumb .breadcrumb-item a {
    color: #242C4F;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
  }
  .migas-de-pan .breadcrumb .breadcrumb-item a:hover {
    text-decoration: underline;
  }
  .migas-de-pan .breadcrumb .breadcrumb-item.active {
    color: #333333;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 14px;
    padding-top: 3px;
  }
  .migas-de-pan .breadcrumb .breadcrumb-item.active::before {
    color: #333333;
  }
  .migas-de-pan .breadcrumb .breadcrumb-item::before {
    color: #242C4F;
  }
  