/*GENERALES*/
* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  width: auto !important;
  overflow-x: hidden !important;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

p {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
  color: #333333;
  font-weight: 400;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px;
  font-family: "Lora", serif;
}
a {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}
ul, li, ol {
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

main.formulario-main { 
  padding-top: 90px; /*este padding es para mantener fijo en la pantalla el header-planificación*/
}

main.carga-proceso-main {
  padding-top: 210px;
}

a.links-lora {
  font-family: "Lora", serif !important;
  font-size: 14px !important;
  font-weight: 500px !important;
}

.lora {
  font-family: "Lora", serif !important;
}

.fs-normal {
  font-size: 14px;
}

.montserrat {
  font-family: "Montserrat", sans-serif !important;
}



