
/*BOTONES*/
.btn {
    padding: 14px 24px 14px 24px;
    margin: 8px 0px;
    width: auto;
    height: 48px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: normal;
  }
  .btn:focus {
    box-shadow: 0px 0px 0px 2px #FFB02E;
  }  
  .btn-circle {
    border-radius: 32px;
    padding: 8px 14px;
    margin: 8px 0px;
    height: 48px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: normal;
  } 
  /* botón primary*/
  .btn-primary {
    background-color: #242C4F;
    color: #FFFFFF;
    border: 2px solid #242C4F;
  }
  .btn-primary:hover {
    background-color: #14182C;
    border: 2px solid #14182C;
  }
  .btn-primary.disabled {
    background-color: #70768C;
    border: 2px solid #70768C;
  }
  .btn-primary:active {
    background-color: #242C4F !important;
    border: 2px solid #242C4F !important;
  }  
  /* botón success */
  .btn-success {
    background-color: #2E7D33;
    color: #FFFFFF;
    border: 2px solid #2E7D33;
  }
  .btn-success:hover {
    background-color: #205824;
    border: 2px solid #205824;
  }
  .btn-success.disabled {
    background-color: #77AB7A;
    border: 2px solid #77AB7A;
  }
  .btn-success:active {
    background-color: #2E7D33 !important;
    border: 2px solid #2E7D33 !important;
  }  
  /* botón danger */
  .btn-danger {
    background-color: #FFFFFF;
    color: #C62828;
    border: 2px solid #C62828;
  }
  .btn-danger:hover {
    background-color: #9C1F1F;
    border: 2px solid #9C1F1F;
    color: #FFFFFF;
  }
  .btn-danger.disabled {
    background-color: #FFFFFF;
    color: #C62828;
    border: 2px solid #C62828;
    opacity: 0.5;
  }
  .btn-danger:active {
    background-color: #FFFFFF !important;
    border: 2px solid #C62828 !important;
    color: #C62828 !important;
  }  
  /* botón warning */
  .btn-warning {
    background-color: #E7BA61;
    color: #FFFFFF;
    border: 2px solid #E7BA61;
  }
  .btn-warning:hover {
    background-color: #886325;
    border: 2px solid #886325;
    color: #FFFFFF;
  }
  .btn-warning.disabled {
    background-color: #EFD298;
    border: 2px solid #EFD298;
  }
  .btn-warning:active {
    background-color: #E7BA61 !important;
    border: 2px solid #E7BA61 !important;
    color: #FFFFFF !important;
  }  
  /*botón contorno del primary */
  .btn-contorno {
    color: #242C4F;
    background-color: #FFFFFF;
    border: 2px solid #DDDDDD;
  }
  .btn-contorno:hover {
    background-color: #ECECEC;
    border: 2px solid #DDDDDD;
  }
  .btn-contorno.disabled {
    opacity: 0.5;
    border: 2px solid #EBEBEB;
  }
  .btn-contorno:active {
    border: 2px solid #DDDDDD !important;
  }  
  
  /* btn black */
  .btn-black {
    background-color: #FFFFFF;
    color: #333333;
    border: 2px solid #333333;
  }
  .btn-black:hover {
    background-color: #ECECEC;
    border: 2px solid #333333;
    color: #333333;
  }
  .btn-black.disabled {
    background-color: #ECECEC;
    color: #333333;
    border: 2px solid #333333;
    opacity: 0.5;
  }
  .btn-black:active {
    background-color: #FFFFFF !important;
    border: 2px solid #333333 !important;
    color: #333333 !important;
  }
  
  /* botón texto */
  .btn-texto {
    color: #333333;
  }
  .btn-texto:hover {
    background-color: #ECECEC;
  }
  .btn-texto.disabled {
    opacity: 0.5;
    border: none;
  }
  
  @media (max-width: 576px) {
    /* btn mobile */
  .btn-mobile {
    width: 100%;
    height: auto;
  }
  }
  
  .btn-icono {
    padding: 6px 36px 14px 36px;
    margin: 8px 12px;
    width: auto;
    border-radius: 8px;
    height: 42px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: normal;
  }
  .btn-icono:focus {
    box-shadow: 0px 0px 0px 2px #FFB02E;
  }

  /* btn icon*/
  .btn-icon {
    border: none;
    width: 32px;
    height: 32px;
    margin: 0px 0px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* btn descargar */
  .print {
    background-image: url(../img/print_Estado=default_az.png);
  }
  .print:hover {
    background-image: url(../img/2_print_Estado=hover_az.svg);
  }
  
  /* btn excel */
  
  .excel {
    background-image: url(../img/excel_Estado=default_az.png);
  }
  .excel:hover {
    background-image: url(../img/2_excel_Estado=hover_az.svg);
  }
  
  /* btn pdf */
  
  .pdf {
    background-image: url(../img/pdf_Estado=default_az.png);
  }
  .pdf:hover {
    background-image: url(../img/2_pdf_Estado=hover_az.svg);
  }
  
  
  .fondo-azul {
    background-color: #242C4F;
  }
  
  .fondo-blanco {
    background-color: #FFFFFF;
  }

  /* btn descargar negativo */
  .print-negativo {
    background-image: url(../img/print_Estado=default_wh.png);
  }
  .print-negativo:hover {
    background-image: url(../img/2_print_Estado=hover_wh.svg);
  }
  
  /* btn excel negativo*/
  
  .excel-negativo {
    background-image: url(../img/exxcel_Estado=default_wh.png);
  }
  .excel-negativo:hover {
    background-image: url(../img/2_excel_Estado=hover_wh.svg);
  }
  
  /* btn add negativo */
  
  .add-negativo {
    background-image: url(../img/add_Estado=default_wh.png);
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .add-negativo:hover {
    background-image: url(../img/2_add_Estado=hover_wh.svg);
  }
  
    /* btn editar*/
  
    .editar {
      background-image: url(../img/Botones\ con\ ícono_editar_default.svg);
    }
    .editar:hover {
      background-image: url(../img/Botones\ con\ ícono_editar_hover.svg);
    }
    
    /* btn visualizar*/
    
    .visualizar {
      background-image: url(../img/Botones\ con\ ícono_ver_default.svg);
    }
    
    .visualizar:hover {
      background-image: url(../img/Botones\ con\ ícono_ver_hover.svg);
    }

    /* btn eliminar*/
    
    .eliminar {
      background-image: url(../img/Botones\ con\ ícono_eliminar_default.svg);
    }
    
    .eliminar:hover {
      background-image: url(../img/Botones\ con\ ícono_eliminar_hover.svg);
    }
    
  /*FIN BOTONES*/
  